MyData/readme.txt
MyData/valuescontroller.txt
MyData/Doubts or issues/only 64 bit processes can be debugged.png
.vscode/launch.json
.vscode/tasks.json
DatingApp.API/appsettings.json
MyData/home+page+snippet.txt
MyData/registerCompnonent.txt
MyData/UserSeedData.json
MyData/Styles+snippet+for+tabbed+panel.txt
MyData/Expanding+register+form+snippets.txt
